@import "src/assets/styles/breakpoints";
@import "src/assets/styles/mixins";

.cards-details-container {
  display: grid;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  margin: auto;
}

.iban-card, .button-owner-detail-container, .balance-card-container {
  margin: 20px;
}

.button-owner-detail-container {
  display: flex;
  flex-direction: column;
}

.button-owner-detail-container {
  align-items: flex-start;
}

.button-owner-detail {
  width: 200px;
  margin-bottom: 20px;
}

.balance-card-footer {
  font-size: 12px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.red-card {
  @include bg-danger;
}

.green-card {
  @include bg-success;
}

@media screen and (min-width: $screen-md-min) {
  .cards-details-container {
    grid-template-columns: repeat(1, 1fr 1fr);
  }
}

@media screen and (min-width: $screen-lg-min) {
  .cards-details-container {
    grid-template-columns: repeat(1, 1.5fr 1fr);
  }
}


@media screen and (min-width: $screen-xl-min) {
  .cards-details-container {
    grid-template-columns: repeat(1, 2fr 1fr);
    width: 80%;
  }
}

