@import "src/assets/styles/breakpoints";

.cards-container {
  justify-content: center;
  display: grid;
}

@media screen and (min-width: $screen-sm-min) {
  .cards-container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: $screen-lg-min) {
  .cards-container {
    grid-template-columns: repeat(3, 300px);
  }
}

