<app-title [title]="'Détails du bien'" [back]="'/biens'"></app-title>
<ng-container *ngIf="property">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="flex flex-col">
      <!-- PROPERTY CHARACTERISTICS CARD -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Caractéristiques du bien</mat-card-title>
          <mat-card-subtitle>{{property.type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-label-value [label]="'Nombre de pièce'" [value]="property.roomsNumber"></app-label-value>
          <app-label-value [label]="'Surface habitable'" [value]="property.area + ' m²'"></app-label-value>
          <app-label-value [label]="'Description'" [value]="property.description" [divider]="false"></app-label-value>
        </mat-card-content>
      </mat-card>
      <!-- ADDRESS CARD -->
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>Adresse</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-label-value [label]="'Numéro et nom de rue'" [value]="property.address.street"></app-label-value>
          <ng-container *ngIf="property.address.additionalAddress">
            <app-label-value [label]="'Complément d\'adresse'"
                             [value]="property.address.additionalAddress"></app-label-value>
          </ng-container>
          <app-label-value [label]="'Code postal'" [value]="property.address.zipCode"></app-label-value>
          <app-label-value [label]="'Ville'" [value]="property.address.town" [divider]="false"></app-label-value>
        </mat-card-content>
      </mat-card>
      <div class="flex pt-3">
        <button mat-raised-button color="accent" routerLink="/biens/{{propertyId}}/modification"
                class="me-3">Modifier
        </button>
        <button mat-raised-button color="warn" (click)="deleteProperty()">Supprimer</button>
      </div>
    </div>
    <div class="flex flex-col">
      <!-- LEASE CONTRACT -->
      <ng-container *ngIf="property.leaseContractId; then withContract else withoutContract"></ng-container>
      <!-- FIXTURE INVENTORY -->
      <ng-container
        *ngIf="property.fixtureInventoryId; then withFixtureInventory else withoutFixtureInventory"></ng-container>
    </div>
  </div>
</ng-container>

<!-- WITH LEASE CONTRACT TEMPLATE -->
<ng-template #withContract>
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>Contrat de location</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        Un contrat de location est actif sur le bien
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" routerLink="/contrats-location/{{property?.leaseContractId}}">
        Détails
        du
        contrat
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<!-- WITHOUT LEASE CONTRACT TEMPLATE -->
<ng-template #withoutContract>
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>Contrat de location</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        Aucun contrat de location n'est actif sur le bien
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" routerLink="/contrats-location/creation/{{propertyId}}">
        Ajouter un contrat
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<!-- WITH FIXTURE INVENTORY TEMPLATE -->
<ng-template #withFixtureInventory>
  <mat-card class="fixture-inventory-card">
    <mat-card-header>
      <mat-card-title>État des lieux</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        Un état des lieux a été réalisé sur le bien
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" routerLink="/etats-des-lieux/{{property?.fixtureInventoryId}}">
        Détails de l'état des lieux
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<!-- WITHOUT FIXTURE INVENTORY TEMPLATE-->
<ng-template #withoutFixtureInventory>
  <mat-card class="fixture-inventory-card">
    <mat-card-header>
      <mat-card-title>État des lieux</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        Aucun état des lieux n'a été réalisé sur le bien
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" routerLink="/etats-des-lieux/creation/{{propertyId}}">
        Ajouter un état des lieux
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<!-- SPINNER -->
<ng-container *ngIf="isLoading">
  <app-spinner></app-spinner>
</ng-container>
