.property-cards-container {
  align-items: start;
}

.property-characteristics-card, .property-span-container, .property-detail-button-container, .address-card {
  margin: 20px;
}

.property-span-container, .property-detail-button-container {
  display: flex;
  flex-direction: column;
}

.property-span-title {
  color: #000;
  font-size: 1.125rem;
}

span {
  margin-bottom: 10px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.property-detail-button {
  width: 200px;
  margin-bottom: 20px;
}
