@import "src/styles/variables";

.property-cards-container {
  display: grid;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  margin: auto;
}

.property-characteristics-card, .property-span-container, .property-detail-button-container, .address-card {
  margin: 20px;
}

.property-span-container, .property-detail-button-container {
  display: flex;
  flex-direction: column;
}

.property-span-title {
  color: $black;
  font-size: 1.125rem;
}

span {
  margin-bottom: 10px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.property-detail-button {
  width: 200px;
  margin-bottom: 20px;
}

.property-detail-button-and-lease-contract-container {
  display: flex;
  flex-direction: column;
}

.lease-contract-card {
  margin: 0 20px 20px 20px;
}

@media screen and (min-width: $layout-breakpoint-medium) {
  .property-cards-container {
    grid-template-columns: repeat(1, 1fr 1fr);
  }
}


@media screen and (min-width: $layout-breakpoint-extra-large) {
  .property-cards-container {
    grid-template-columns: repeat(1, 1fr 1fr);
    width: 80%;
  }
}

