<app-title [title]="'Détails du locataire'" [back]="'/locataires'"></app-title>
<ng-container *ngIf="tenant">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 pb-3">
    <!--IDENTITY CARD-->
    <app-identity-card [data]="tenant" [subtitle]="subtitle"></app-identity-card>
    <!--PARTNER CARD-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Conjoint</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-label-value [label]="'Nom'" [value]="tenant.partnerLastName"></app-label-value>
        <app-label-value [label]="'Prénom'" [value]="tenant.partnerFirstName"></app-label-value>
        <app-label-value [label]="'Téléphone'" [value]="tenant.partnerPhoneNumber"
                         [divider]="false"></app-label-value>
      </mat-card-content>
    </mat-card>
    <!--BALANCE CARD-->
    <app-balance-card [expectedRentAmount]="tenant.expectedRentAmount" [balance]="tenant.balance"
                      [footer]="false" [hFull]="false"></app-balance-card>
  </div>
  <div class="flex">
    <button mat-raised-button color="accent" routerLink="/locataires/{{tenantID}}/modification" class="me-3">
      Modifier
    </button>
    <button mat-raised-button color="warn" (click)="delete()">Supprimer</button>
  </div>
  <!--TABLES PAIEMENTS-->
  <ng-container *ngIf="paymentSections">
    <ng-container *ngFor="let section of paymentSections">
      <app-title
        [title]="'Paiements effectués à ' + section.contract.owner.firstName + ' ' + section.contract.owner.lastName"></app-title>
      <app-payments-dashboard [data]="section.payments" [leaseContract]="section.contract"
                              [leaseContractId]="section.contract.id"></app-payments-dashboard>
    </ng-container>
  </ng-container>
</ng-container>

<!--SPINNER-->
<ng-container *ngIf="isLoading">
  <app-spinner></app-spinner>
</ng-container>
