// Breakpoints from small tablets to huge screens
$layout-breakpoint-small: 576px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 992px;
$layout-breakpoint-extra-large: 1200px;
$layout-breakpoint-extra-extra-large: 1400px;

// Colors
$white: #FFFFFF;
$green: #388E3C;
$blue: #3A52B5;
$pink: #FF4181;
$red: #F64336;
$black: #454545;
$grey: #DCDCDC;
