@import "src/assets/styles/breakpoints";

.register-form-group {
  background: #fff;
  border-radius: 4px;
}

.register-form-input {
  min-width: 100%;
}

.password-rules {
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.icon-list {
  margin-right: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  font-size: 1rem;
  font-family: Nunito, "Helvetica Neue", sans-serif;
}

@media (max-width: $screen-sm-min) {
  .register-form-group {
    min-width: 65vw;
  }
}

@media (min-width: 577px) and (max-width: $screen-md-min) {
  .register-form-group {
    min-width: 55vw;
  }
}

@media (min-width: 769px) and (max-width: $screen-lg-min) {
  .register-form-group {
    min-width: 50vw;
  }
}

@media (min-width: 993px) and (max-width: $screen-xl-min) {
  .register-form-group {
    min-width: 40vw;
  }
}

@media (min-width: 1401px) {
  .register-form-group {
    min-width: 30vw;
  }
}






