<mat-card>
  <mat-card-header>
    <mat-card-title>{{data?.firstName}}&nbsp;{{data?.lastName}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-label-value [label]="'Né(e) le'" [value]="data?.birthday | date:'dd/MM/YYYY':'':'fr'"></app-label-value>
    <app-label-value [label]="'Adresse'"
                     [value]="data?.address?.street + ' ' + (data?.address?.additionalAddress ? ' ' + data?.address?.additionalAddress : '') + ' ' + data?.address?.zipCode + ' ' + data?.address?.town"></app-label-value>
    <app-label-value [label]="'E-mail'" [value]="data?.email"></app-label-value>
    <app-label-value [label]="'Téléphone'" [value]="data?.phoneNumber" [divider]="false"></app-label-value>
  </mat-card-content>
</mat-card>

