<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="property$ | async as property">
    <p>Type de bien : {{property.type}}</p>
    <p>Surface habitable : {{property.area}}</p>
    <p>Nombre de pièces : {{property.roomsNumber}}</p>
    <p>Adresse : {{property.address.street}} {{property.address.additionalAddress}}&nbsp;
      {{property.address.zipCode}} {{property.address.town}}</p>
  </mat-card-content>
</mat-card>
