<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="property$ | async as property">
    <app-label-value [label]="'Type de bien'" [value]="property.type"></app-label-value>
    <app-label-value [label]="'Surface habitable'" [value]="property.area"></app-label-value>
    <app-label-value [label]="'Nombre de pièces'" [value]="property.roomsNumber"></app-label-value>
    <app-label-value [label]="'Adresse'"
                     [value]="property.address.street + ' ' + property.address.additionalAddress + ' ' + property.address.zipCode + ' ' + property.address.town"
                     [divider]="false"></app-label-value>
  </mat-card-content>
</mat-card>
