@import "src/styles/variables.scss";

.property-card {
  max-width: 70%;
  margin: 20px auto 0;
}

.property-detail {
  color: $pink;
}

@media screen and (min-width: $layout-breakpoint-medium) {
  .property-card {
    max-width: 60%;
  }
}

@media screen and (min-width: $layout-breakpoint-extra-large) {
  .property-card {
    max-width: 50%;
  }
}
