<mat-card class="property-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="property$ | async as property">
    <p>Type de bien : <span class="property-detail">{{property.type}}</span></p>
    <p>Surface habitable : <span class="property-detail">{{property.area}}</span></p>
    <p>Nombre de pièces : <span class="property-detail">{{property.roomsNumber}}</span></p>
    <p>Adresse : <span class="property-detail">{{property.address.street}} {{property.address.additionalAddress}}&nbsp;
      {{property.address.zipCode}} {{property.address.town}}</span></p>
  </mat-card-content>
</mat-card>
