@import "src/assets/styles/breakpoints";

.payment-form-container {
  max-width: 90%;
  margin: 20px auto 0;
}

.payment-form-field {
  display: flex;
  padding-top: 20px;
}

@media screen and (min-width: $screen-sm-min) {
  .payment-form-container {
    max-width: 70%;
  }
}

@media screen and (min-width: $screen-md-min) {
  .payment-form-container {
    max-width: 50%;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .payment-form-container {
    max-width: 40%;
  }
}

