@import "src/styles/variables";

.lease-contract-card {
  width: 80%;
  margin: auto;
}

.detail {
  color: $pink;
}

p {
  margin: 0 0 10px 0;
}

.owner-detail-container, .tenant-detail-container, .lease-detail-container, .property-detail-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.detail-title {
  color: $black;
  font-size: 1.125rem;
  margin: 20px 0 10px 0;
}
