<app-title [title]="'Contrat'" [back]="backRoute"></app-title>
<ng-container *ngIf="leaseContract">
  <app-alert [title]="'Contrat de location'"
             [subtitle]="'Un contrat de location a été conclu entre les parties désignées ci-dessous concernant le bien ci-après'"
             [icon]="'description'"></app-alert>
  <div class="mt-3 grid grid-cols-1 lg:grid-cols-2 gap-4">
    <mat-card>
      <mat-card-header class="text-xl">
        <mat-card-title>Propriétaire</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-label-value [label]="'Nom'" [value]="leaseContract.owner.lastName"></app-label-value>
        <app-label-value [label]="'Prénom'" [value]="leaseContract.owner.firstName"></app-label-value>
        <app-label-value [label]="'Date de naissance'"
                         [value]="leaseContract.owner.birthday | date:'dd/MM/YYYY':'':'fr'"></app-label-value>
        <app-label-value [label]="'Adresse'"
                         [value]="leaseContract.owner.address.street + ' ' + leaseContract.owner.address.additionalAddress + ' ' + leaseContract.owner.address.zipCode + ' ' + leaseContract.owner.address.town"></app-label-value>
        <app-label-value [label]="'Email'" [value]="leaseContract.owner.email"></app-label-value>
        <app-label-value [label]="'Téléphone'" [value]="leaseContract.owner.phoneNumber"></app-label-value>
        <app-label-value [label]="'Iban'" [value]="leaseContract.owner.iban" [divider]="false"></app-label-value>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="text-xl">
        <mat-card-title>Locataire</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-label-value [label]="'Nom'" [value]="leaseContract.tenant.lastName"></app-label-value>
        <app-label-value [label]="'Prénom'" [value]="leaseContract.tenant.firstName"></app-label-value>
        <app-label-value [label]="'Date de naissance'"
                         [value]="leaseContract.tenant.birthday | date:'dd/MM/YYYY':'':'fr'"></app-label-value>
        <app-label-value [label]="'Adresse'"
                         [value]="leaseContract.tenant.address.street + ' ' + leaseContract.tenant.address.additionalAddress + ' ' + leaseContract.tenant.address.zipCode + ' ' + leaseContract.tenant.address.town"></app-label-value>
        <app-label-value [label]="'Email'" [value]="leaseContract.tenant.email"></app-label-value>
        <app-label-value [label]="'Téléphone'" [value]="leaseContract.tenant.phoneNumber"></app-label-value>
        <app-label-value [label]="'Nom du Conjoint'" [value]="leaseContract.tenant.partnerLastName"></app-label-value>
        <app-label-value [label]="'Prénom du Conjoint'"
                         [value]="leaseContract.tenant.partnerFirstName"></app-label-value>
        <app-label-value [label]="'Téléphone du Conjoint'" [value]="leaseContract.tenant.partnerPhoneNumber"
                         [divider]="false"></app-label-value>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="text-xl">
        <mat-card-title>Caractéristiques du bien</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-label-value [label]="'Type de bien'" [value]="leaseContract.property.type"></app-label-value>
        <app-label-value [label]="'Surface habitable'" [value]="leaseContract.property.area"></app-label-value>
        <app-label-value [label]="'Nombre de pièces'" [value]="leaseContract.property.roomsNumber"></app-label-value>
        <app-label-value [label]="'Description'" [value]="leaseContract.property.description"></app-label-value>
        <app-label-value [label]="'Adresse'"
                         [value]="leaseContract.property.address.street + ' ' + leaseContract.property.address.additionalAddress + ' ' + leaseContract.property.address.zipCode + ' ' + leaseContract.property.address.town"
                         [divider]="false"></app-label-value>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="text-xl">
        <mat-card-title>Détails du contrat de location</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-label-value [label]="'Montant du loyer à régler chaque mois'"
                         [value]="leaseContract.rentAmount + ' €'"></app-label-value>
        <app-label-value [label]="'Charges locatives inclues dans le loyer'"
                         [value]="leaseContract.rentCharges + ' €'"></app-label-value>
        <app-label-value [label]="'Dépôt de garantie'"
                         [value]="leaseContract.paidDeposit + '/' + leaseContract.requiredDeposit + ' €'"></app-label-value>
        <app-label-value [label]="'Montant CAF alloué au propriétaire'"
                         [value]="leaseContract.expectedAmountFromCafToOwner ? leaseContract.expectedAmountFromCafToOwner + ' €' : null"></app-label-value>
        <app-label-value [label]="'Date de signature du contrat de location'"
                         [value]="leaseContract.dateContractSignature | date:'dd/MM/YYYY':'':'fr'"
                         [divider]="false"></app-label-value>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex justify-end pt-3">
    <button class="me-3" mat-raised-button color="accent" (click)="modify()">Modifier</button>
    <button mat-raised-button color="warn" (click)="deleteLeaseContract()">Supprimer</button>
  </div>
</ng-container>

<ng-container *ngIf="isLoading">
  <app-spinner></app-spinner>
</ng-container>
