<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="title-toolbar" routerLink="/">KeyLease</button>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Compte</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login (provisoire)</span>
      </button>
      <button mat-menu-item routerLink="/register">
        <mat-icon>person_add</mat-icon>
        <span>Register (provisoire)</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

