@import "src/styles/variables";
@import "src/styles/mixins";

.login-form-container {
  @include flex-center;
}

.login-form-group {
  @include padding-margin-20px;
  background: $white;
  border-radius: 4px;
}

.login-form-input {
  min-width: 100%;
}

.login-button-container {
  display: flex;
  justify-content: space-between;
}

.demo-card-container {
  @include flex-center;
}

::ng-deep .mat-mdc-card {
  box-shadow: revert;
}

.demo-card-title {
  margin: 1rem;
}

.demo-button-container {
  display: flex;
  flex-direction: column;
}

.demo-button {
  margin-bottom: 1rem;
  width: 90%;
}

@media (max-width: $layout-breakpoint-small) {
  .login-form-group {
    min-width: 65vw;
  }
}

@media (min-width: 577px) and (max-width: $layout-breakpoint-medium) {
  .login-form-group {
    min-width: 55vw;
  }
}

@media (min-width: 769px) and (max-width: $layout-breakpoint-large) {
  .login-form-group {
    min-width: 50vw;
  }
}

@media (min-width: 993px) and (max-width: $layout-breakpoint-extra-extra-large) {
  .login-form-group, {
    min-width: 40vw;
  }
}

@media (min-width: 1401px) {
  .login-form-group {
    min-width: 30vw;
  }
}
