<div class="w-full flex justify-center">
  <div *ngIf="!(isLoading$ | async)" class="w-full md:w-2/3 xl:w-1/3">
    <app-title [title]="'Login'"></app-title>
    <app-alert [title]="'Attention !'"
               [subtitle]="'Le site est hébergé sur Render en version gratuite. Le serveur est donc très lent au démarrage. Veuillez donc retenter jusqu\'à l\'établissement de la connexion.'"
               [icon]="'warning'"
               [status]="'accent'"></app-alert>
    <mat-card class="mt-3">
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!--EMAIL-->
          <p>Email</p>
          <mat-form-field class="kl-form-input">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <!--PASSWORD-->
          <p>Mot de passe</p>
          <mat-form-field class="kl-form-input">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password': 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <!--BUTTONS-->
          <div class="flex justify-between">
            <button mat-button color="primary" routerLink="/register">Créer un compte</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Connexion
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-3">
      <mat-card-header class="mb-3">
        <mat-card-title>
          Utiliser un compte de démo
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col w-full">
          <!--ADMIN CONNEXION-->
          <button mat-stroked-button color="primary" class="mb-3" (click)="adminLoginDemo()">Responsable
            d'agence
          </button>
          <!--AGENT CONNEXION-->
          <button mat-stroked-button color="primary" (click)="userLoginDemo()">Gestionnaire
            locatif
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-container *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</ng-container>

