.label-filter {
  display: flex;
  margin: auto;
}

.table-container {
  margin: auto;
  overflow-x: auto;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: revert;
}

